// Wrapper
$wrapper: 1717px;

//Margins
$sm-margin: 18px;
$md-margin: 25px;

//Colors
$white: #fff;
$black: #000;
$dark-green: #425c5a;
$button-green: #C3E0DE;
$light-green: #a2bfbd;
$pastel-orange: #ffcea2;
$dark-grey: #484848;
$grey-secondary: #585352;
$light-grey: #8f8f8f;
$placeholder-grey: #868686;
$red: #eb7373;
$transparent-green: rgba(162, 191, 189, 0.12);
$dashboard-background: #F7F7F7;
$green-gradient: linear-gradient(to bottom left, #425C5A, #87ABA8);

$skin-red: #BD313B;
$skin-black: #1F1D1D;
$skin-gray: #4E5A62;
$skin-light-yellow: #FFE9A7;
$skin-yellow: #FABB00;

//Fonts
$lg-font: 20px;
$base-font: 14px;
$md-font: 16px;
$sm-font: 14px;
$xs-font: 12px;
$xxs-font: 10px;

//Border-radius
$base-radius: 20px;
$sec-radius: 10px;
$small-radius: 10px;
$round-radius: 50%;

// Other
$default-box-shadow: 0 3px 5px 0 grey;

