@font-face {
  font-family: 'Space-Grotesk-Regular';
  font-display: swap;
  src: url('fonts/hinted-SpaceGrotesk-Regular.eot');
  src: local('Space Grotesk Regular'), local('SpaceGrotesk-Regular'),
  url('fonts/hinted-SpaceGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/hinted-SpaceGrotesk-Regular.woff2') format('woff2'),
  url('fonts/hinted-SpaceGrotesk-Regular.woff') format('woff'),
  url('fonts/hinted-SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space-Grotesk-Bold';
  font-display: swap;
  src: url('fonts/hinted-SpaceGrotesk-Bold.eot');
  src: local('Space Grotesk Bold'), local('SpaceGrotesk-Bold'),
  url('fonts/hinted-SpaceGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/hinted-SpaceGrotesk-Bold.woff2') format('woff2'),
  url('fonts/hinted-SpaceGrotesk-Bold.woff') format('woff'),
  url('fonts/hinted-SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Space-Grotesk-SemiBold';
  font-display: swap;
  src: url('fonts/hinted-SpaceGrotesk-SemiBold.eot');
  src: local('Space Grotesk SemiBold'), local('SpaceGrotesk-SemiBold'),
  url('fonts/hinted-SpaceGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/hinted-SpaceGrotesk-SemiBold.woff2') format('woff2'),
  url('fonts/hinted-SpaceGrotesk-SemiBold.woff') format('woff'),
  url('fonts/hinted-SpaceGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Now-Display-Regular';
  font-display: swap;
  src: url('fonts/hinted-HelveticaNowDisplay-Regular.eot');
  src: local('Helvetica Now Display W04 Rg'), local('HelveticaNowDisplay-Regular'),
  url('fonts/hinted-HelveticaNowDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/hinted-HelveticaNowDisplay-Regular.woff2') format('woff2'),
  url('fonts/hinted-HelveticaNowDisplay-Regular.woff') format('woff'),
  url('fonts/hinted-HelveticaNowDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Now-Display-XBd';
  font-display: swap;
  src: url('fonts/hinted-HelveticaNowDisplay-XBd.eot');
  src: local('Helvetica Now Display W04 XBold'), local('HelveticaNowDisplay-XBd'),
  url('fonts/hinted-HelveticaNowDisplay-XBd.eot?#iefix') format('embedded-opentype'),
  url('fonts/hinted-HelveticaNowDisplay-XBd.woff2') format('woff2'),
  url('fonts/hinted-HelveticaNowDisplay-XBd.woff') format('woff'),
  url('fonts/hinted-HelveticaNowDisplay-XBd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Now-Display-Md';
  font-display: swap;
  src: url('fonts/hinted-HelveticaNowDisplay-Md.eot');
  src: local('Helvetica Now Display W04 Md'), local('HelveticaNowDisplay-Md'),
url('fonts/hinted-HelveticaNowDisplay-Md.eot?#iefix') format('embedded-opentype'),
url('fonts/hinted-HelveticaNowDisplay-Md.woff2') format('woff2'),
url('fonts/hinted-HelveticaNowDisplay-Md.woff') format('woff'),
url('fonts/hinted-HelveticaNowDisplay-Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Now-Display-Bold';
  font-display: swap;
  src: url('fonts/hinted-HelveticaNowDisplay-Bold.eot');
  src: local('Helvetica Now Display W04 Bold'), local('HelveticaNowDisplay-Bold'),
  url('fonts/hinted-HelveticaNowDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/hinted-HelveticaNowDisplay-Bold.woff2') format('woff2'),
  url('fonts/hinted-HelveticaNowDisplay-Bold.woff') format('woff'),
  url('fonts/hinted-HelveticaNowDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Now-Display-Black';
  font-display: swap;
  src: url('fonts/hinted-HelveticaNowDisplay-Black.eot');
  src: local('HelveticaNowDisplay-Black'),
  url('fonts/hinted-HelveticaNowDisplay-Black.eot?#iefix') format('embedded-opentype'),
  url('fonts/hinted-HelveticaNowDisplay-Black.woff2') format('woff2'),
  url('fonts/hinted-HelveticaNowDisplay-Black.woff') format('woff'),
  url('fonts/hinted-HelveticaNowDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

