html.theme-light {
  color: var(--fonts-color-dark);

  & .page-map {

    & .header {
      background-color: var(--light-bg);

      &-logo {

        & svg {
          fill: var(--fonts-color-dark);
        }

        &:hover {
          & svg {
            fill: var(--fonts-color-dark-1);
          }
        }
      }

      &-title {
        color: var(--fonts-color-dark);

        & svg {
          fill: var(--red-bg);
        }

        &:hover {
          & svg {
            fill: var(--red-bg-1);
          }
        }

        &-tooltip {
          &--active {
            color: var(--fonts-color-dark);
            background-color: var(--blue-bg);

            &:before {
              border: 10px solid transparent;
              border-bottom: 8px solid var(--blue-bg);
            }
          }
        }
      }

      &--consultation {
        color: var(--light-bg);
        background-color: var(--red-bg);

        &:hover {
          background-color: var(--red-bg-1);
        }
      }
    }

    & .main {
      &-sidebar {
        background-color: var(--states-color-light-10);

        @include desktop-laptop {
          border-top: 1px solid var(--states-color-dark-19);
          background-color: var(--states-color-light-18);
        }

        &-laptop {
          @include desktop-laptop {
            & .title {
              color: var(--states-color-dark-0);
            }

            & svg {
              fill: transparent;
              stroke: var(--states-color-dark-0);
            }
          }
        }

        &-state {
          @include phone {
            background-color: var(--states-color-light-18);
          }

          & a {
            color: var(--fonts-color-light-2);
          }

          & p {
            color: var(--fonts-color-dark-1);
          }

          & .title {
            color: var(--fonts-color-light-2);
          }

          & .state {
            &-top {
              &-block {
                &--link {
                  border: 1px solid var(--fonts-color-dark-1);
                  background-color: var(--states-color-light-11);
                  color: var(--fonts-color-light-2);

                  &:hover {
                    background-color: var(--states-color-light-17);
                  }
                }

                &--text {
                  color: var(--fonts-color-light-2);
                }
              }


              &-close {
                & svg {
                  fill: var(--states-color-light-11);
                  stroke: var(--fonts-color-dark-1);
                }
              }
            }

            &-bottom {
              &--text {
                color: var(--fonts-color-light-2);
              }

              &-block {
                &--link {
                  color: var(--light-bg);
                  background: var(--fonts-color-light-2);

                  &:hover {
                    background-color: var(--fonts-color-dark-1);
                  }
                }

                & svg {
                  fill: var(--states-color-light-16);
                  stroke: var(--fonts-color-dark-1);

                  &:hover {
                    fill: var(--states-color-light-17);
                  }
                }
              }
            }
          }
        }
      }

      &-content {
        background-color: var(--states-color-light-0);

        &-top {
          & .mode-btn {
            & svg {
              stroke: var(--states-color-light-15);
              fill: var(--states-color-light-6);

              &:hover {
                fill: var(--states-color-light-7);
              }
            }
          }

          &-title {
            color: var(--fonts-color-dark);

            & .title-tooltip {
              &--active {
                background-color: var(--blue-bg);

                &:before {
                  border: 8px solid transparent;
                  border-bottom: 5px solid var(--blue-bg);
                }
              }
            }

            & svg {
              fill: var(--red-bg);
            }
          }

          &-filter {
            & svg {
              fill: var(--states-color-light-6);
              stroke: var(--fonts-color-dark-1);

              &:hover {
                stroke: var(--dark-second-bg);
                fill: var(--states-color-light-14);
              }
            }

            & span {
              & .item {
                color: var(--fonts-color-dark-3);
                background-color: var(--light-bg);
                border: 1px solid var(--states-color-dark-19);
                border-right: none;

                &:last-child {
                  border-right: 1px solid var(--states-color-dark-19);
                }

                &--value {
                  &:before {
                    border-top: 1px solid transparent;
                    border-left: 1px solid transparent;
                    border-right: 1px solid var(--fonts-color-dark-3);
                    border-bottom: 1px solid var(--fonts-color-dark-3);
                  }
                }

                &:hover {
                  background-color: var(--states-color-light-12);
                }

                &.active {
                  background-color: var(--states-color-light-13);
                }
              }
            }
          }
        }

        &-bottom {
          &-designed {
            color: var(--fonts-color-dark-2);
          }
        }

        & .update {
          color: var(--fonts-color-light-2);

          & svg {
            fill: var(--fonts-color-dark-1);
          }
        }

        & .popup {
          &-title {
            font-family: 'Helvetica-Now-Display-Bold';
            color: var(--fonts-color-dark-4);
          }

          &-star {
            fill: var(--red-bg);
          }

          &-bottom {
            & .title {
              color: var(--fonts-color-light-1);
            }

            & .text {
              color: var(--fonts-color-dark-4);

              &.featured {
                color: var(--red-bg-2);
              }
            }

            &-left {
              & .text {
                color: var(--fonts-color-dark-4);
              }
            }
          }
        }

        & .tt_sm {
          background-color: var(--light-bg);
        }
      }

      & .mode-btn {
        & svg {
          fill: var(--states-color-light-6);
        }

        &:hover {
          & svg {
            fill: var(--states-color-light-7);
          }
        }
      }
    }

    & .top-states {
      &-inner {
        border-bottom: 1px solid var(--states-color-light-8);
      }

      &--close {
        fill: var(--states-color-light-11);
        stroke: var(--fonts-color-dark-1);
      }

      &-item {
        &:after {
          background-color: var(--states-color-light-9);
        }
        &:last-child {
          & .top-states-inner {
            border-bottom: 1px solid var(--dark-second-bg);
          }
        }

        &.hovered {
          background-color: var(--states-color-light-9);

          & .top-states-inner {
            border-bottom: 1px solid transparent;
          }

        }

        & .item-rate {
          & svg {
            fill: var(--red-bg);
          }
        }

        & .item-name {
          color: var(--fonts-color-light-2);
        }

        & .item-participation {
          &--title {
            color: var(--fonts-color-dark-2);
          }
        }

        & .item-ranking {
          &--title {
            color: #87A0C0;
          }

          &--value {
            color: var(--red-bg-2);
          }
        }
      }

    }

    & .other-states {

      &-item {
        color: var(--fonts-color-dark-1);

        &-inner {
          border-bottom: 1px solid #D8E5F5;
        }

        &.hovered {
          background-color: var(--states-color-light-9);

          & .other-states-item-inner {
            border-bottom: 1px solid transparent;
          }
        }

        & .item-name {
          color: var(--fonts-color-dark);
        }

        & .item-participation {
          &--title {
            color: #87A0C0;
          }
        }

        & .item-ranking {
          &--title {
            color: #87A0C0;
          }

          &--value {
            color: var(--fonts-color-light-2);
          }
        }
      }
    }
  }
}